/* highprotein.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Container styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Title styles */
  h1 {
    text-align: center;
    color: #333;
    margin : 20px;
  }
  /* Title styles */
  h2 {
   
    margin : 20px;
  }
  
  /* Food container styles */
  .food-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four items per row */
    gap: 20px;
    justify-content: center;
  }
  
  /* Food item styles */
  .food-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .food-item:hover {
    transform: translateY(-5px);
  }
  
  /* Food image styles */
  .food-item img {
    width: 100%;
    height: 200px; /* Fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  /* Food details styles */
  .food-details {
    padding: 15px;
  }
  
  .food-details h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .food-details p {
    margin: 5px 0;
    color: #666;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 992px) {
    .food-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .food-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .food-container {
      grid-template-columns: 1fr;
    }
  }
  